.home-section {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px;
}
.heading {
  font-family: 'Roboto';
  color: #f8fafc;
  font-size: 50px;
}
.desc {
  color: #f1f5f9;
  font-family: 'Roboto';
  font-size: 30px;
  width: 700px;
}
.find-jobs-btn {
  background-color: #4f46e5;
  color: white;
  font-size: 20px;
  font-weight: 600;
  width: 160px;
  height: 50px;
  border-radius: 5px;
  border: 0;
  outline: none;
  cursor: pointer;
  margin-top: 16px;
}
.job-link {
  text-decoration: none;
}
